@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-obito-black: #0A0723;
  --color-obito-green: #2F6A62;
  --color-obito-grey: #EAECEE;
  --color-obito-red: #EF372B;
  --color-obito-text-grey: #87898C;
  --color-obito-light-green: #E0EAE8;
  --color-obito-light-red: #FFE3E1;
  --color-obito-text-secondary: #6A6F7C;
}

*{
    font-family: 'Poppins', sans-serif;
}